/* -*- coding: utf-8-unix -*- */

.t-font-system {
  font-family: "SF Pro Text", sans-serif !important;
}

.v-PageHeader {
  background: #f6f5f4 !important;
  border-bottom: 0.0625rem solid #c4c4c4 !important;
  color: #242424 !important;
}

.v-PageHeader .v-Button {
  /* From .v-Button--standard */
  background: linear-gradient(#fdfdfd, #e8e8e8) !important;
  border: 0.0625rem solid #ccc !important;
  border-bottom-color: #b7b7b7 !important;
  border-radius: 0.1875rem !important;
  box-shadow: 0 0.125rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.1) !important;
  color: #444 !important;
}

.v-MainNavToolbar-avatar {
  filter: brightness(0) !important;
  opacity: 0.85 !important;
}

.v-Message-body pre {
  font-family: "SF Mono", monospace !important;
  font-size: 13px !important;
  line-height: 18px !important;
}

input[type="text"], textarea {
  font-family: "SF Mono", monospace !important;
  font-weight: normal !important;
}
