/* -*- coding: utf-8-unix -*- */

.t-font-system {
  font-family: "SF Pro Text", sans-serif !important;
}

.v-PageHeader {
  background: #3584e4 !important;
}

.v-MainNavToolbar-avatar {
  filter: brightness(100) !important;
}

.v-Message-body pre {
  font-family: "SF Mono", monospace !important;
  font-size: 13px !important;
  line-height: 18px !important;
}

input[type="text"], textarea {
  font-family: "SF Mono", monospace !important;
  font-weight: normal !important;
}
